@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte-titulo: "Exo 2";
}

header {
    /*background-color: #009525;*/
    padding-top: 50px;
    padding-bottom: 70px;
    background-image: linear-gradient(to bottom, #2a67d8, #214296);
}

h1#titulo-principal {
    font-family: var(--fonte-titulo);
    text-align: center;
    font-size: 2.8em;
    transition-duration: 1s;
    color: white;
}

h1#titulo-principal:hover {
    font-size: 3.1em;
    transition-duration: 2s;
}

main {
    background-color: rgb(170, 181, 208);
    font-family: var(--fonte-titulo);
    padding-top: 20px;
}

main > div#one {
    margin: auto;
    /*margin-top: 2px;*/
    background: #6e72dd;
    padding: 25px;
    text-align: justify;
    width: 80%;
    max-width: 725px;
    border-radius: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: white;
}

main > div#two {
    margin: auto;
    /*margin-top: 2px;*/
    background: #6e72dd;
    padding: 25px;
    text-align: justify;
    max-width: 725px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    width: 80%;
    color: white;
}

main > div > h2 {
    margin-bottom: 15px;

}

footer {
    background-color: #0f0263;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-family: var(--fonte-titulo);
    text-align: center;
    padding: 10px;
}